--find-links https://download.pytorch.org/whl/cu113/torch_stable.html
torch==1.12.1+cu113
datasets==2.5.2
transformers==4.22.2
scikit-learn==1.1.2
beautifulsoup4
pymilvus
setuptools<58.0.0
matplotlib
ml_metrics
